
<div class="container">
    <form>
        <div class="mb-3">
            <label for="name1" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name1">
        </div>
        <div class="mb-3">
            <label for="phoneNumber1" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber1">
        </div>
        <div class="mb-3">
            <label for="pttt1" class="form-label">Phương thức thanh toán</label>
            <select id="pttt1" class="form-control">
                <option value="Chuyển khoản">Chuyển khoản</option>
                <option value="Tiền mặt">Tiền mặt</option>
            </select>
        </div>
    </form>
</div>
